<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ramaz.scheduler"
    android:versionCode="12"
    android:versionName="1.7" >

    <uses-sdk android:minSdkVersion="10" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >

        <!--
        <activity
            android:label="@string/app_name"
            android:name=".RamazAppActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <activity
            android:name="org.ramaz.scheduler.SchedView"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.ramaz.scheduler.Prefs"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="org.ramaz.scheduler.ClassView"
            android:label="@string/title_activity_class_view" >
        </activity>
    </application>

</manifest>